@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

main {
    height: 100vh;
    position: relative;
    background: url(../imagens/fundo-madeira.jpg) no-repeat center center;
    background-color: cover;
    background-attachment: fixed;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 310px;
    background: url('../imagens/frame-iphone.png') no-repeat;
    size: 500px 300px;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;

    height: 470px;
    width: 267px;
}